@font-face {
  font-family: 'SF UI Display';
  src: local('SF UI Display'), local('SF UI Display'),
    url('./SFUIText-Medium.woff2') format('woff2'),
    url('./SFUIText-Medium.woff2') format('woff');
  font-weight: 100;
  font-style: normal;
}

.text-95 {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 800;
  font-size: 95px;
}
@media screen and (max-width: 1000px) {
  .text-95 {
    font-size: 65px;
  }
}
@media screen and (max-width: 700px) {
  .text-95 {
    font-size: 48px;
  }
}
@media screen and (max-width: 500px) {
  .text-95 {
    font-size: 35px;
  }
}
@media screen and (max-width: 410px) {
  .text-95 {
    font-size: 30px;
  }
}
.text-75-b {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
}
@media screen and (max-width: 1000px) {
  .text-75-b {
    font-size: 65px;
  }
}
@media screen and (max-width: 500px) {
  .text-75-b {
    font-size: 65px;
  }
}
.text-50-b {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
}
@media screen and (max-width: 1000px) {
  .text-50-b {
    font-size: 40px;
  }
}
@media screen and (max-width: 500px) {
  .text-50-b {
    font-size: 30px;
  }
}
.text-40-b {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
}
@media screen and (max-width: 1000px) {
  .text-40-b {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  .text-40-b {
    font-size: 25px;
  }
}
.text-35-b {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
}
@media screen and (max-width: 1000px) {
  .text-35-b {
    font-size: 28px;
  }
}
@media screen and (max-width: 500px) {
  .text-35-b {
    font-size: 25px;
  }
}
.text-32 {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
}
@media screen and (max-width: 1000px) {
  .text-32 {
    font-size: 25px;
  }
}
@media screen and (max-width: 600px) {
  .text-32 {
    font-size: 18px;
  }
}
@media screen and (max-width: 410px) {
  .text-32 {
    font-size: 14px;
  }
}
.text-30-b {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}
@media screen and (max-width: 1000px) {
  .text-30 {
    font-size: 25px;
  }
}
@media screen and (max-width: 400px) {
  .text-30 {
    font-size: 20px;
  }
}
.text-29-b {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 35px;
}

.text-27-b {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
}
.text-27 {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 30px;
}

.text-25-b {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 27px;
}
@media screen and (max-width: 1300px) {
  .text-25-b {
    font-size: 20px;
  }
}
@media screen and (max-width: 771px) {
  .text-25-b {
    font-size: 17px;
  }
}
@media screen and (max-width: 450px) {
  .text-25-b {
    font-size: 15px;
  }
}
.text-25 {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 27px;
}

@media screen and (max-width: 1300px) {
  .text-25 {
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  .text-25 {
    font-size: 20px;
  }
}
.text-23-b {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
}
.text-20-b {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
@media screen and (max-width: 450px) {
  .text-20-b {
    font-size: 13px;
  }
}
.text-19-b {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
 
}
@media screen and (max-width: 915px) {
  .text-19-b {
    font-size: 16px;
  }
}
@media screen and (max-width: 771px) {
  .text-19-b {
    font-size: 14px;
  }
}
.text-18-b {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
.text-18 {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}
.text-17 {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;  
}
@media screen and (max-width: 1300px) {
  .text-17 {
    font-size: 15px;
  }
}
.text-17-b{
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.5px;  
}
.text-15 {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px; 
}
@media screen and (max-width: 771px) {
  .text-15 {
    font-size: 13px;
  }
}
.text-15-b {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  
}
.text-14 {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.text-13 {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}
.text-11 {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
}
.text-10 {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}


